<!-- content -->
<div class="content">
  <div class="title text-center w-100 mt-4 mb-4">你想對誰說幹話?</div>
  <div class="container">
    <div class="row d-flex justify-content-center">

      {{#each job}}
      <div class="col-10 col-md-6 col-xl-4 mb-2">
        <div class="item">
          <img src="./image/{{ this.job }}.jpg" alt="{{ this.job }}" class="w-100">
          <div class="text text-center mt-2 mb-2">
            <input type="radio" name="job" value="{{ this.job }}" id="{{ this.job }}">
            <label for="{{ this.job }}" class="mt-2 mb-2">{{ this.name }}</label>
          </div>
        </div>
      </div>
      {{/each}}

    </div>
    <form action="/" method="post" class="generator w-100 d-flex flex-column align-items-center mt-3 mb-3">
      <input type="submit" class="d-flex justify-content-center mt-2 mb-2" value="產生幹話"></input>
      <textarea cols="10" rows="10" class="w-100 mt-2 mb-2 pt-2 ps-2">{{ trashTalk }}</textarea>
    </form>
  </div>
</div>
<!-- content end -->